.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.TopBanner {
  float: none;
}

.Article {
  display: block;
  clear: left;
  width: 40%;
  text-align: left;
  padding: 4px;
}

.Content {
  display: block;
  padding-left: 30px;
}

.Proposition {
  float: none;
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
