/* Set black background color, white text and some padding */
footer {
  background-color: #BBB;
  color: dark-grey;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}

.productlist {
  padding: 20px;
}

.productitem {
  padding-bottom: 20px;
}
