<div id="stOverlayB"></div>
<div id="stOverlay"></div>
<div id="stTagPopup" class="stPopup roundedCorners container">
    <div class="stTagPopupWrapper">
        <div class="stContent">
            <h2>Cookie Policy.</h2>
            <div id="stAccept"><a class="btn btn-green" id="stAcceptDefault" href="#"
                                  onclick="CookieStatement.acceptCookies(3,true)"><span
                    class="check">&nbsp;</span>Yes, I accept cookies</a></div>
            <p>We make a difference between necessary, relevant and external cookies.<br>Our necessary cookies
                do not contain personal information. They ensure a proper working of our website. The relevant
                and external cookies do collect personal information. So we can enhance our website, and deliver relevant information. Our external cookies allow you to share content on social media, and deliver relevant advertising.
            <p>Are you familiar with cookies, and you accept them? Choose 'Yes, I accept cookies'.Want to know more? Check <a href="#" onclick="CookieStatement.showSettings()">settings</a> to read about the different levels of cookies.</p></div>
    </div>
</div>
<div id="stSetPopup" class="stPopup roundedCorners container">
    <div class="stTagPopupWrapper">
       <div class="stContent" class="stContentLarge">
            <table id="stSettingsTable" width="100%" border="1" style="margin-top: 12px; margin-bottom: 12px;">
                <tbody>
                <tr>
                    <th class="stLabel" width="48%">I choose cookies:</th>
                    <th class="stGroup1" width="17%">necessary</th>
                    <th class="stGroup2" width="17%">relevant</th>
                    <th class="stGroup3 selected" width="17%">external</th>
                </tr>
                <tr>
                    <td class="stLabel">Necessary for a proper website working</td>
                    <td class="stGroup1"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">To prevent re-entering the same input fields</td>
                    <td class="stGroup1"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">To improve the performance of the website</td>
                    <td class="stGroup1"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">To monitor the speed of the website</td>
                    <td class="stGroup1"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">Register visitor behaviour</td>
                    <td class="stGroup1"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">To adapt the website with relevant information</td>
                    <td class="stGroup1">&nbsp;</td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">Collect personal information to adapt the website with relevant promotions</td>
                    <td class="stGroup1">&nbsp;</td>
                    <td class="stGroup2"><span class="check_green">&nbsp;</span></td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">Show relevant advertising on the internet</td>
                    <td class="stGroup1">&nbsp;</td>
                    <td class="stGroup2">&nbsp;</td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="stLabel">Enable Social Media functions</td>
                    <td class="stGroup1">&nbsp;</td>
                    <td class="stGroup2">&nbsp;</td>
                    <td class="stGroup3 selected"><span class="check_green">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="padding_akkoord borderless">&nbsp;</td>
                    <td class="padding_akkoord" align="center" id="stSetting-1"><a href="#"
                                                                                   onclick="CookieStatement.acceptCookies(1,false);">Agree</a>
                    </td>
                    <td class="padding_akkoord" align="center" id="stSetting-2"><a href="#"
                                                                                   onclick="CookieStatement.acceptCookies(2,false);">Agree</a>
                    </td>
                    <td class="padding_akkoord selected" align="center" id="stSetting-3"><a href="#"
                                                                                            onclick="CookieStatement.acceptCookies(3,false);"
                                                                                            class="btn btn-green">Agree</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="bullets">
                <li><strong>Necessary cookies</strong> allow proper functioning of the website.</li>
                <li><strong>Relevant cookies</strong> improve the website behaviour and allow relevant information based on the visitor profile.
                </li>
                <li><strong>External cookies</strong> allow social media like Facebook and Twitter and
                    allow advertising outside the website on the internet.
                </li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    #stOverlay, #stOverlayB, #stTagPopup, #stSetPopup {
        display: none;
    }
    .stPopup  {
        font-family: verdana,arial,sans-serif;
        font-size: 16px;
        /*background-color: #fff;*/
        color: #111;
        z-index: 10020;

        display: flex;
        align-items: center;
        justify-content: center;
        top: 150px;
        /*height: 100%;*/
        /*position: fixed;*/
        position: absolute;
    }
    #stSetPopup {
        top:0;
        width: 100%;
        top: 150px;
        /*height: 100%;*/
    }
    .stTagPopupWrapper {
        padding: 20px;
        display: block;
        flex: none;
        width: 50%;
        margin-left: 25%;
        background-color: #fff;
    }
    .stTagPopupWrapper > div{
        margin-left: 30px;
    }
    .stTagPopupWrapper #stAccept {
        /*width: 20%;*/
        min-width: 215px;
        /*text-align: center;*/
        /*align-self: flex-end;*/
        margin-bottom: 24px;
    }
    .stTagPopupWrapper >  .stLogo {
        /*width: 15%;*/
    }
    .stTagPopupWrapper > .stContent {
        /*width: 65%;*/
    }
    .stTagPopupWrapper > .stContentSettings {
        /*width: 85% !important;*/
    }
    /* Shared styles */
    .stPopup .btn-green {
        position: relative;

        font-size: 18px;
        font-weight: 500;
        border-style: solid;
        border-width: 0 0 2px;
        line-height: 26px;
        padding: 9.5px 15px 11.5px;
        color: #fff;
        text-decoration: none;
        text-transform: none!important;
        display: inline-block;
        font-size-adjust: auto;
        background: #f59b00;
        border-radius: 25px;
        border-color: #f59b00;
        transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;

        height: auto;
        width: auto;
        cursor: pointer;
    }
    .stPopup .btn-green:hover {
        background: #cf8300;
        border-color: #cf8300;
        border-width: 1px 0;
        color: #fff;
    }
    .stPopup .center {
        text-align: center;
    }
    /* Small overlay */
    #stTagPopup .instellingen {
        margin-right: 10px;
    }
    #stTagPopup .stButtons {
        margin-top: 30px;
    }
    /* Settings overlay */
    #stSetPopup .cookieText {
        clear: both;
        padding-top: 20px;
    }
    #stSetPopup th.selected {
        background-color: #f59b00;
    }
    #stSetPopup td.selected {
        background-color: #fdf3e2;
    }
    #stSettingsTable {
        border-collapse:collapse;
        text-align: center;
    }
    #stSettingsTable th {
        border: 1px solid #D1D3D4;
        background-color: rgb(182, 183, 184);
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }
    #stSettingsTable td {
        border: 1px solid #D1D3D4;
        padding: 5px;
    }
    #stSettingsTable .borderless {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    #stSettingsTable .stLabel {
        text-align: left;
    }
    #stSettingsTable .padding_akkoord {
        padding: 15px;
    }
    #stSetPopup .check {
        background: url("/images/70192_sprite-icons.gif") no-repeat  0 -93px;
        margin-right: 5px;
        padding: 5px;
    }
    #stSetPopup .check_green {
        background: url("/images/70192_sprite-icons.gif") no-repeat  0 -2094px;
        padding: 5px;
    }
    #stSetPopup .cross {
        background: url("/images/70192_sprite-icons.gif") no-repeat  -4px -2345px;
        padding: 5px;
    }
    /* Generic Styles */
    .stPopup h2 {
        /*color: #E60167;*/
        /*font-family: "trebuchet MS",verdana,helvetica,sans-serif;*/
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        margin: 25px 0;
    }
    .stPopup h3 {
        color: #111;
        display: block;
        font-size: 1.17em;
        font-weight: bold;
    }
    .stPopup a {
        color: #f59b00;
        text-decoration: none;
        transition: 200ms color ease-in-out;
    }
    .stPopup a:hover {
        color: #cf8300;
    }
    .stPopup strong {
        font-weight: bold;
    }
    .stPopup ul li {
        list-style: disc inside;
    }
    .stLogo {
        height: 80px;
    }
    .stContent {
        /*    padding-left: 160px;
            padding-right: 300px;
        */
        /*margin-top:95px;*/
    }
    @media screen and (max-width:1200px) {
        .stTagPopupWrapper {
            width: 70%;
            margin-left: 15%;
        }
    }
    @media screen and (max-width: 767px) {
        .stPopup {
            margin: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            box-sizing: border-box;
            width: auto;
            position: absolute;
            padding: 0;
            overflow-y: auto;
            background-color: #fff;
        }

        .stTagPopupWrapper {
            display:block;
            width: 100%;
            height:100%;
            margin: 0;
            padding:0;
        }
        .stTagPopupWrapper > .stContent {
            margin: 10px;
        }
        .stContent {
            width: auto !important;
            margin: 10px;
        }

        #stSetPopup,
        #stTagPopup {
            top: 0;
        }
        #stTagPopup .stLogo + h2 + br + p {
            height: 60%;
            overflow: auto;
        }
        .stLogo {
            width: 95px;
            display: block;
            float: none;
        }

        #stSettingsTable {
            font-size: 12px;
        }

        #stSettingsTable td {
            min-width: 90px;
        }

        #stSettingsTable .stLabel {
            min-width: 135px;
        }

        #stSettingsTable .padding_akkoord {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    @media screen and (max-width: 320px) {
        #stTagPopup .stLogo + h2 + br + p {
            height: 50%;
        }
    }
    #stOverlayB {
        z-index: 10011;
        position:fixed;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background-color: #000;
        opacity: 0.5;
        filter: Alpha(opacity=50);

    }
    #stOverlay {
        position: fixed;
        z-index: 10010;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
    /* fixme: images op static uploaden */
    @media screen and (min-width: 767px) {
        #stOverlay {
            background-size: 100%;
            /*background: url(img/transparant.png) repeat #000;*/
            -webkit-filter: grayscale(0.5) blur(5px);
            filter: grayscale(0.5) blur(5px);

        }
    }
</style>
<script>
! function() {
    function e(e, t) {
        t = t || {
            bubbles: !1,
            cancelable: !1,
            detail: void 0
        };
        var o = document.createEvent("CustomEvent");
        return o.initCustomEvent(e, t.bubbles, t.cancelable, t.detail), o
    }
    return "function" == typeof window.CustomEvent ? !1 : (e.prototype = window.Event.prototype, void(window.CustomEvent = e))
}(), CookieStatement = {
        getCookie: function(e) {
                        console.log('getCookie log');
            for (var t = e + "=", o = document.cookie.split(";"), n = 0; n < o.length; n++) {
                for (var i = o[n];
                    " " == i.charAt(0);) i = i.substring(1);
                if (0 == i.indexOf(t)) return i.substring(t.length, i.length)
            }
            return ""
        },
        getDomain(url, subdomain) {
            subdomain = subdomain || false;
            url = url.replace(/(https?:\/\/)?(www.)?/i, '');
            if (!subdomain) {
                url = url.split('.');
                url = url.slice(url.length - 2).join('.');
            }
            if (url.indexOf('/') !== -1) {
                return url.split('/')[0];
            }
            return url;
        },
        setConsentCookie: function(e) {
            console.log('setConsentCookie log');
            var t = new Date;
            t.setDate(t.getDate() + 365);
            var o = this.getDomain(location.url);
            console.log("set consent on " + o);
            document.cookie = "cookieconsent=" + e + "; expires=" + t.toUTCString() + "; path=/;domain=" + o
        },
        sendTrackingEvent: function(e, t) {
            try {
                var o = new CustomEvent(e, {
                    detail: t,
                    bubbles: !0
                });
                document.body.dispatchEvent(o)
            } catch (n) {}
        },
        acceptCookies: function(e, t) {
            console.log('acceptCookies log');
            this.setConsentCookie(e), document.getElementById("stOverlay").style.display = "none", document.getElementById("stOverlayB").style.display = "none", document.getElementById("stTagPopup").style.display = "none", document.getElementById("stSetPopup").style.display = "none", this.sendTrackingEvent("cookiestatement-click", {
                info: {
                    site: location.hostname,
                    view: t ? "main" : "settings",
                    level: e + 1
                }
            }), window.location.reload()
        },
        showCookiePopup: function() {
            console.log('showCookiePopup log');
            document.getElementById("stOverlay").style.display = "block", document.getElementById("stOverlayB").style.display = "block", document.getElementById("stTagPopup").style.display = "block", window.scrollTo(0, 0), this.sendTrackingEvent("cookiestatement-impression", {
                info: {
                    site: location.hostname,
                    view: "main"
                }
            })
        },
        showSettings: function() {
            document.getElementById("stOverlayB").style.display = "block", document.getElementById("stSetPopup").style.display = "block", window.scrollTo(0, 0), this.sendTrackingEvent("cookiestatement-impression", {
                info: {
                    site: location.hostname,
                    view: "settings"
                }
            })
        }
    }, CookieStatement.getCookie("cookieconsent") || CookieStatement.showCookiePopup(),
    function() {
        ("object" != typeof _stCookiePopup || "function" != typeof _stCookiePopup.showSettings) && (console.log("no _stCookiePopup"), _stCookiePopup = {
            showSettings: function() {
                CookieStatement.showSettings()
            }
        })
    }();
</script>
